<section class="order-details-section">
  <ul class="order-details-ul" *ngFor="let order of orders">
    <li
      class="{{ order.section }}"
      [class.displayed]="isDisplayed"
      (click)="toggleDisplay()"
    >
      <!-- (click)="onClickToggleDetail(order.section)" -->
      <h3 class="navbar bg-dark section-header">
        {{ order.section + " Details" }}
        <span *ngIf="isDisplayed">{{ " ▲ " }}</span>
        <span *ngIf="!isDisplayed">{{ " ▼ " }}</span>
      </h3>
    </li>
    <ul
      id="{{ order.section }}"
      [ngStyle]="{
        display: isDisplayed ? 'block' : 'none'
      }"
    >
      <li *ngFor="let section of order.details">
        {{ section.title + ": " + section.data }}
      </li>
    </ul>
  </ul>
  <section class="order-details-item">
    <h3 class="navbar bg-dark section-header" (click)="onClickShipping()">
      Shipping Details
    </h3>
    <ul
      class="details-ul"
      [ngStyle]="{
        display: expandShipping ? 'block' : 'none'
      }"
    >
      <li>Status: In Process</li>
      <li>Date Shipped: TBD</li>
      <li>Courier: UPS</li>
      <li>Ship To (name): Bob Evans</li>
      <li>Address: 4301 Palm Dale, Tampa, FL 33607</li>
    </ul>
  </section>
  <section class="order-details-item">
    <h3 class="navbar bg-dark section-header" (click)="onClickBilling()">
      Billing Details
    </h3>
    <ul
      class="details-ul"
      [ngStyle]="{
        display: expandBilling ? 'block' : 'none'
      }"
    >
      <li>Name: Julie Evans</li>
      <li>Total: $100.00</li>
      <li>Paid: $50.00</li>
      <li>Balance: $50.00</li>
      <li>Payment Method: CC</li>
    </ul>
  </section>
</section>
