<section class="order-details-section">
  <!-- <ul class="order-details-ul" *ngFor="let order of orders">
    <li>
      <h3 class="navbar bg-dark section-header" (click)="onClickShipping()">
        {{ order.section }}
      </h3>
    </li>
    <ul class="details-ul" *ngFor="let detail of order.details">
      <li>xxx</li>
    </ul>
  </ul> -->
  <ul class="order-details-ul" *ngFor="let order of orders">
    <li>
      <h3 class="navbar bg-dark section-header" (click)="onClickShipping()">
        {{ order.section + " Details" }}
      </h3>
    </li>
    <ul>
      <li *ngFor="let hollywood of order.details">
        {{ hollywood.title + ": " + hollywood.data }}
      </li>
    </ul>
  </ul>
  <section class="order-details-item">
    <h3 class="navbar bg-dark section-header" (click)="onClickShipping()">
      Shipping Details
    </h3>
    <ul
      class="details-ul"
      [ngStyle]="{
        display: expandShipping ? 'block' : 'none'
      }"
    >
      <li>Status: In Process</li>
      <li>Date Shipped: TBD</li>
      <li>Courier: UPS</li>
      <li>Ship To (name): Bob Evans</li>
      <li>Address: 4301 Palm Dale, Tampa, FL 33607</li>
    </ul>
  </section>
  <section class="order-details-item">
    <h3 class="navbar bg-dark section-header" (click)="onClickBilling()">
      Billing Details
    </h3>
    <ul
      class="details-ul"
      [ngStyle]="{
        display: expandBilling ? 'block' : 'none'
      }"
    >
      <li>Name: Julie Evans</li>
      <li>Total: $100.00</li>
      <li>Paid: $50.00</li>
      <li>Balance: $50.00</li>
      <li>Payment Method: CC</li>
    </ul>
  </section>
</section>
