@import "~bootstrap/dist/css/bootstrap.css";

.section-header {
  color: whitesmoke;
}

.order-details-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.details-ul {
  list-style-type: circle;
}
